{
    {{ if (eq (getv "/self/container/service_index") "1") }}"bootstrap": true,{{else}}
    "retry_join": [{{ $containerName := getv "/self/service/containers/0"}}"{{getv (printf "/containers/%s/primary_ip" $containerName)}}"],
    "bootstrap": false,{{end}}
    "server": true,
    "raft_protocol": 3,
    "cleanup_dead_servers": true,
    "datacenter": "{{getv "/self/service/metadata/dc"}}",
    "advertise_addr": "{{getv "/self/container/primary_ip"}}",
    "bind_addr": "{{getv "/self/container/primary_ip"}}",
    "client_addr": "{{getv "/self/container/primary_ip"}}",
    "data_dir": "/var/consul",
    "encrypt": "{{getv "/self/service/metadata/enc.key"}}",
    "ca_file": "/opt/rancher/ssl/ca.crt",
    "cert_file": "/opt/rancher/ssl/consul.crt",
    "key_file": "/opt/rancher/ssl/consul.key",
    "verify_incoming": true,
    "verify_outgoing": true,
    {{ if (eq (getv "/self/service/metadata/acl.enabled") "true") }}
    "acl_datacenter": "{{getv "/self/service/metadata/dc.name"}}",
    "acl_default_policy": "{{getv "/self/service/metadata/acl.default_policy"}}",
    "acl_down_policy": "{{getv "/self/service/metadata/acl.down_policy"}}",
    "acl_master_token": "{{getv "/self/service/metadata/acl.master_token"}}",
    {{ end }}
    "ui": {{getv "/self/service/metadata/ui.enabled"}},
    "log_level": "INFO",
    "performance": {
      "raft_multiplier": 1
    }
}
